<h1>Customer OnBoarding</h1>

<%= form_with(model: customer, local: true) do |form| %>
  <div class="field form-group">
    <%= form.text_field :fname , class: "form-control", placeholder: "First Name"%>
  </div>

  <div class="field form-group">
    
    <%= form.text_field :lname, class: "form-control" , placeholder: "Last Name"%>
  </div>

  <div class="field form-group ">
    
    <%= form.email_field :email, class: "form-control" , placeholder: "Email"%>
  </div>

  <div class="field form-group">
    
    <%= form.password_field :password, class: "form-control" , placeholder: "Password"%>
  </div>

  <div class="field form-group ">
    <%= form.password_field :confirm_password , class: "form-control", placeholder: "Confirm Password"%>
  </div>

  <div class="field form-group ">
    <%= form.number_field :phone, class: "form-control", placeholder: "Phone Number" %>
  </div>

  <div class="field form-group ">

    <%= form.text_area :address , class: "form-control", placeholder: "Address"%>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary' %>
    <button class="btn btn-warning" > <%= link_to 'Back', customers_path %> </button>
  </div>

  
<% end %>
