<h2> Customer Profile </h2>

<h3> First Name : <%= @customer.fname %> </h3>

<h3> Last Name : <%= @customer.lname %> </h3>

<h3> Email  : <%= @customer.email %> </h3>

<h3> Phone  : <%= @customer.phone %> </h3>

<h3> Address : <%= @customer.address %> </h3>
