<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
   
    <%= form.text_field :category, id: :order_type, placeholder: :Category %>
  </div>

  <div class="field form-group">
   
    <%= form.text_field :status, id: :order_type, placeholder: :Order_Status %>
  </div>

  <div class="field form-group">
    <%= form.text_area :notes, id: :order_notes , placeholder: :Extra_Notes%>
  </div>

  <div class="field form-group">
    <%= form.number_field :customer_id, id: :order_customer_id, placeholder: :Customer, value: current_user.id, type: :hidden%>
  </div>

  <div class="field form-group">
    <h6> Select Your Darzi</h6>
    <%= form.collection_select :tailor_id, Tailor.order(:name),:id,:name, :selected => Tailor.first %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary'%> &nbsp
    <%= link_to 'Back', orders_path , class:"btn btn-warning" %>

  </div>
<% end %>


