<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Darzi.live', root_path, class:"navbar-brand" %>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <%= link_to "Customers", customers_path, class:"nav-link" %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </li> 

        &nbsp &nbsp &nbsp
        <li class="nav-item">
          <%= link_to "Tailors", tailors_path, class:"nav-link" %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </li> 


        <li class="nav-item">
          <%= link_to "Orders", orders_path, class:"nav-link" %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </li> 


        <% if current_user %>
           
            <button class="btn btn-danger"  style="margin-left: 325%;"> <%= link_to 'SignOut', destroy_user_session_path, method: :delete, style:"color:white;" %> </button>
          
        <% else %>
           
            <button class="btn btn-success" style="margin-left: 270%; margin-right: 5%;" > <%= link_to 'SignUp', new_user_registration_path, style:"color:white;" %> </button>
         

          
            <button class="btn btn-primary" > <%= link_to 'SignIn', new_user_session_path, style:"color:white;" %> </button>
           
        <% end %>
      
      
    </ul>
  </div>
</nav>
